* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Hammersmith One', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.menu-title {
    color: #3A3A3A;
}

.menu-item ul {
    display: flex;
    list-style: none;
}

.menu-item li {
    margin-right: 35px;
}

.menu-item a {
    text-decoration: none;
    color: #3A3A3A;
}

.influencer-product {
    display: flex;
    height: 60vh;
    justify-content: space-between;
}

.left-side {
    flex: 1;
    display: flex;
    align-items: center;
}

.banner-head {
    font-size: 52px;
    color: #3A3A3A;
}

.banner-text {
    color: #3A3A3A;
    margin-top: 20px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    width: 23%;
    background: #E02C6D;
    padding: 10px 24px 10px 24px;
    border-radius: 41px;

}

.click a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}

.fa-arrow-right {
    color: #fff;
}

.right-side {
    flex: 1;
}

.banner-images {
    height: 60vh;
    padding-left: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bg img {
    position: absolute;
    top: 10%;
    left: 29%;
    z-index: -1;
}
.companys ul{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.companys li{
    list-style: none;
    margin-right: 50px;
}

.list-title{
  text-align: center;
  margin-bottom: 30px;
  color: #3A3A3A;
}
.lists{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 50px;
    justify-items: center;
}
.list{
    width: 329px;
    height: 476px;
    background-color: #FFFFFF;
    border-radius: 15px;  
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
}
.list-inside{
    padding: 15px;
}
.list-name{
    font-size: 19px;
    color: #18191F;
}
.list-price{
    font-size: 20px;
    color: #18191F;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
    opacity: 0.20;
}
.list-info{
    color: #787885;
}